<h1>商品詳細</h1>

<%= image_tag @item.image %>
<%= @item.name %>
<%= @item.introduction %>
<%= (@item.price * 1.1).floor %>
<%= @item.price %>
<%= @item.genre.name %>
<%= @item.is_active %>

<%= link_to "編集する", edit_admin_item_path(@item), class:"btn btn-sm btn-success" %>