<div class = "container">

  <div class = "row">
    <div class = "offset-lg-3 col-lg-6 mt-5">
      <div class="card text-white">
        <%= image_tag "sweets.jpeg", class:"card-img" %>
        <div class="card-img-overlay">
          <p>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-10 d-flex mt-5 mx-auto">
      <% @items.each do |item| %>
        <div class = "mx-4">
          <%= link_to image_tag(item.thumbnail_image(200, 150)), item_path(item.id) %><br>
          <%= link_to item.name, item_path(item.id),class:"text-reset" %><br>
          ¥<%= (item.price*1.1).floor %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-12">
      <h5 class="text-right">
        <span class="border-bottom border-primary"><%= link_to "全ての商品を見る >", items_path %></span>
      </h5>
    </div>
  </div>
</div>