<h1>注文履歴詳細</h1>
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.full_name %></td>
  </tr>
  <tr>
  <tr>
    <th>注文日</th>
    <td><%= l @order.created_at %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      <%= @order.shipping_postal_code %><br>
      <%= @order.shipping_address %><br>
      <%= @order.shipping_name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_i18n %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
      <!--option_for_selectだと選択済の内容を次の画面に引き継げない -->
        <!-- f.select :order_status, options_for_select(Order.order_statuses_i18n.invert), :prompt => @order.order_status -->
        <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
        <%= f.submit "更新" , class: "btn btn-outline-success" %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order| %>
    <tr>
      <td><%= order.item.name %></td>
      <td><%= order.item.tax_included_price %></td>
      <td><%= order.amount %></td>
      <td><%= order.subtotal %></td>
      <td>
        <%= form_with model: order, url: admin_order_detail_path(order), method: :patch, local: true do |f| %>
          <%= f.select :crafting_status,
          OrderDetail.crafting_statuses.keys.map {|k| [I18n.t("enums.order_detail.crafting_status.#{k}"), k]} %>
          <%= f.submit "更新" , class: "btn btn-outline-success" %>
        <% end %>
      </td>
      <% @total += order.subtotal %>
      <% @total_amount += order.amount %>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>商品合計</th>
    <td><%= @total %></td>
  </tr>
  <tr>
  <tr>
    <th>送料</th>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <th>請求金額合計</th>
    <td><%= @total + @order.postage %></td>
  </tr>
</table>