<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-10 mx-auto">
      <h5 class = "m-5"><span class = "bg-light">　ジャンル編集　</span></h5>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-10 mx-auto">
      <div class="error-explanation">
        <% if @genre.errors.any? %>
          <h3><%= @genre.errors.count %>errors prohibited this obj from being saved:</h3>
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12 col-md-10 col-lg-6">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <table class = "table table-borderless">
          <tbody>
            <th><%= f.label :"ジャンル名　" %></th>
            <td><%= f.text_field :name, class:"form-control" %></td>
            <td><%= f.submit'変更を保存', class: "btn btn-success" %></td>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>