<div class = "container">
  <div class = "row">
    <div class = "col-sm-6 col-md-6 col-lg-5">

    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-10 mx-auto">
      <h5 class = "my-5"><span class = "bg-light">　会員一覧　</span></h5>
      <table class="table table-hover table-inverse">
        <thead class = "thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= l order.created_at %></td>
              <td><%= order.customer.full_name %></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= order.order_status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = "mx-auto">
      <%= paginate @orders %>
    </div>
  </div>
</div>