<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- assetsの中にあるcssを参照するにはlink_tag、javascriptの中にあるcssを参照するにはpack_tag-->
    <!--Bootstrapとcssを併用する場合はjavascriptの中にあるcssを参照することになるのでpack_tag一択-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg border-bottom border-dark">
        <div class = "container-fluid">
          <%= link_to "ながのCAKE", root_path, class: "navbar-brand text-reset" %>
          <ul class = "navbar-nav ml-auto">
            <div class = "collapse navbar-collapse">
              <% if customer_signed_in? %>
                <li>
                  ようこそ、<%= current_customer.last_name %>さん！
                </li>
                <li>
                  <%= link_to "マイページ", customers_my_page_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "商品一覧", items_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "カート", cart_items_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_items_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "About", about_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "商品一覧", items_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログイン", customer_session_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
              <% end %>
            </div>

          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
